body{
    background-color: rgb(255, 255, 255);
    font-family: 'Tajawal', sans-serif;
    font-family: 'Tajawal', sans-serif;
}
/* ipohne */
@media screen and (max-width:600px) {
    .weplus{
        width: 90px;
        border-radius: 100px 100px;
        margin-left: 12rem;
        margin-top: -1.50rem;
    }
    .h1-1{
        margin-left: 5.50rem;
        margin-top: 2rem;
        font-size: 1.50rem;
    }
    .butn1{
        margin-left: 4rem;
        height: 3.50rem;
        width: 9rem;
        border-radius: 7px 22px;
        border: none;
        font-size: 1.30rem;
        font-family: 'Tajawal', sans-serif;
        background-color: rgb(123, 171, 255);
        color: aliceblue;
    }
    .box1{
        width: 15.50rem;
        height: 18rem;
        background-color: rgb(177, 204, 252);
        border-radius: 10px;
        margin-left: 0.70rem;
        margin-top: 2rem;
    }
    .no{
        color: rgb(177, 204, 252);
    }
    .h2-1{
        color: rgb(126, 122, 255);
        margin-left: 3.50rem;
        max-width: 10rem;
        margin-top: -3rem;
    }
    .box1 h3{
        color: rgb(81, 182, 187);
        margin-left: 2.30rem;
        max-width: 14rem;
        font-size: 1.50rem;
        margin-top: 0rem;
    }
    .box1 button{
        margin-left: 0.26rem;
        margin-top: 1rem;
        width: 15rem;
        height: 4rem;
        font-size: 1.20rem;
        font-family: 'Tajawal', sans-serif;
        background-color: rgb(93, 131, 219);
        border: none;
        border-radius: 10px;
        color: aliceblue;
    }
    .mo{
        margin-top: -2.7rem;
        margin-left: 13rem;
        font-size: 1.30rem;
        color: rgb(255, 255, 255);
        box-shadow: 0px 0px 90px black;
    }
    /* box2!!!!!!!! */
    .box2{
        width: 15.50rem;
        height: 20rem;
        background-color: rgb(232, 209, 153);
        border-radius: 10px;
        margin-left: 0.70rem;
        margin-top: 2rem;
    }
    .no2{
        color: rgb(232, 209, 153);
    }
    .h2-2{
        color: rgb(0, 0, 0);
        margin-left: 3rem;
        max-width: 12rem;
        margin-top: -3rem;
    }
    .box2 h3{
        color: rgb(0, 0, 0);
        margin-left: 1rem;
        max-width: 14rem;
        font-size: 1rem;
        margin-top: 0rem;
    }
    .box2 button{
        margin-left: 0.20rem;
        margin-top: 2.70rem;
        width: 15rem;
        height: 4rem;
        font-size: 1.20rem;
        font-family: 'Tajawal', sans-serif;
        background-color: rgb(255, 204, 0);
        border-radius: 10px;
        border: none;
        color: aliceblue;
    }
    .mo-2{
        margin-left: 6rem;
        margin-top: -2.7rem;
        margin-left: 13rem;
        font-size: 1.20rem;
        color: rgb(255, 255, 255);
    }
    .hi{
        margin-left: 0rem;
        margin-top: 3rem;
    }
    .fast{
        margin-left: 7rem;
        font-size: 3rem;
        color: rgb(0, 157, 255);
    }
    .fast h3{
        font-size: 1.80rem;
        margin-left: -0.60rem;
        margin-top: -0.10rem;
        color: rgb(0, 0, 0);
    }
    .fast h4{
        font-size: 1rem;
        margin-left: -4.40rem;
        margin-top: -1.50rem;
        color: black;
    }
    /* 2 */
    .many{
        margin-left: 0.50rem;
        font-size: 3rem;
        color: #4aaa13;
    }
    .many h3{
        font-size: 1.90rem;
        margin-left: -0.90rem;
        margin-top: -0.10rem;
        color: rgb(0, 0, 0);
    }
    .many h4{
        font-size: 1rem;
        margin-left: -5.60rem;
        margin-top: -1.50rem;
        color: black;}
}
/* ipad */
@media screen and (min-width:600px) and (max-width:800px) {
.weplus{
    width: 11rem;
    margin-left: 24rem;
}
.h1-1{
    margin-left: 11rem;
    font-size: 3.50rem;
}
.butn1{
    margin-left: 10rem;
    width: 15rem;
    height: 7rem;
    font-size: 2.50rem;
}
.box1{
    margin-left: 2.50rem;
    width: 30rem;
    height: 30rem;
}
.no{
    color: rgb(177, 204, 252);
}
.h2-1{
    margin-left: 6rem;
    margin-top: 0.50rem;
    font-size: 2.50rem;
    max-width: 24rem;
}
.box1 h3{
    font-size: 2.50rem;
    max-width: 20rem;
    margin-left: 6rem;
}
.box1 button{
    margin-left: 0rem;
    width: 30rem;
    height: 7rem;
    font-size: 2.50rem;
}
.mo{
    margin-left: 24.50rem;
    font-size: 2.20rem;
    margin-top: -4.50rem;
}
/* box2 */
.box2{
    margin-left: 2.50rem;
    width: 30rem;
    height: 30rem;
}
.no2{
    color: rgb(232, 209, 153);
}
.h2-2{
    color: rgb(0, 0, 0);
    margin-left: 7rem;
    max-width: 19rem;
    margin-top: 1rem;
    font-size: 2.50rem;
}
.box2 h3{
    color: rgb(0, 0, 0);
    margin-left: 4rem;
    max-width: 23rem;
    font-size: 1.90rem;
    margin-top: 0rem;
}
.box2 button{
    margin-left: 1.50rem;
    margin-top: 1rem;
    width: 27rem;
    height: 5.50rem;
    font-size: 2rem;
    font-family: 'Tajawal', sans-serif;
    background-color: rgb(255, 204, 0);
    border-radius: 10px;
    border: none;
    color: aliceblue;
}
.mo-2{
    margin-top: -4rem;
    margin-left: 23rem;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}
.hi{
    margin-left: 3rem;
    margin-top: 3rem;
    font-size: 2.60rem;
}
.fast{
    margin-left: 15rem;
    font-size: 6rem;
    color: rgb(0, 157, 255);
}
.fast h3{
    font-size: 3rem;
    margin-left: -0.60rem;
    margin-top: -0.10rem;
    color: rgb(0, 0, 0);
}
.fast h4{
    font-size: 2rem;
    margin-left: -7.80rem;
    margin-top: -1.50rem;
    color: black;
}
/* 2 */
.many{
    margin-left: 1.80rem;
    font-size: 5rem;
    color: #4aaa13;
}
.many h3{
    font-size: 3rem;
    margin-left: -1rem;
    margin-top: -0.10rem;
    color: rgb(0, 0, 0);
}
.many h4{
    font-size: 2rem;
    margin-left: -12rem;
    margin-top: -1.50rem;
    color: black;}
}